.home {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 15vh 1fr;
    grid-template-areas:
        " header"
        " main";
    height: 100vh;
}

.header {
    grid-area: header;
    background-color: #2180d6;
    border-bottom-right-radius: 25px;
    border-bottom-left-radius: 25px;
    font-size: 1.5rem;
    color: white;
    padding: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &__add:focus {
        outline: none;
    }
}
.main {
    grid-area: main;
    display: flex;
    justify-content: center;
    z-index: 20;
    padding: 1.5rem;
}
