.home {
    display: grid;
    grid-template-rows: 25vh min-content;
    grid-template-columns:
        [sidebar-start] 4rem [sidebar-end full-start] minmax(6rem, 1fr) [center-start] repeat(
            4,
            [col-start] minmax(min-content, 10rem) [col-end]
        )
        [center-end] minmax(6rem, 1fr) [full-end];
}
.sidebar {
    background-color: white;
    grid-column: sidebar-start/sidebar-end;
    grid-row: 1/-1;
    box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.06);
}
.header {
    background-color: #2180d6;
    grid-column: full-start/full-end;
    border-bottom-right-radius: 25px;
    border-bottom-left-radius: 25px;
    font-size: 1.5rem;
    color: white;
    padding: 2rem;
    // display: flex;
    // justify-content: space-between;
    &__add {
        // background-color: #008000;
        // border-radius: 50%;
        // padding: 1rem;
    }
}
.main {
    // background-color: yellowgreen;
    grid-column: full-start/center-end;
    z-index: 20;
    margin-top: -3rem;
    // ToDo: find anthor solution by grid
    margin-left: 2rem;
    padding: 1.5rem;
}
