.userList {
    display: grid;
    grid-gap: 0.6rem;
    grid-template-rows: [content-start]repeat(5, 1fr) [content-end paging-start] auto[paging-end];
    justify-items: center;
    & > * :focus {
        outline: 0;
    }
    &__paging {
        grid-row-start: pagin-start;
        grid-row-end: pagin-end;
    }
}
