.userList {
    display: grid;
    grid-gap: 1rem;
    grid-template-rows: repeat(6, 1fr);
    justify-items: center;
    //TODO: need to be more specific selector
    & > * :focus {
        outline: 0;
    }
}
